header{
	text-align: center;
}

.content{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

#compte_a_rebours{
	border: 5px solid grey;
	margin-left: 300px;
	margin-right: 300px;
	padding: 100px;
	border-radius: 2%;
	text-align: center;
	font-family: font-family: 'Roboto', sans-serif;
	font-size: 30px;
	
}

.block{
	border: 2px solid grey;
	display: inline;
	padding: 40px;
	margin-right: 100px;
	border-radius: 10%;

}